<div class="rounded shadow flex flex-col flex-shrink-0 w-24 h-36 border-gray-100 border-solid border m-2">
    <div class="flex flex-1 justify-center items-center">
    <%= content_tag(:span, @value, class: Enum.join(["font-medium", "text-7xl", "tracking-tight", @color], " ")) %>
    </div>
    <div class="flex justify-center items-center h-8 bg-gray-100">
        <div class="truncate"><%= @owner %></div>
    </div>
</div>
