<div class="border border-dashed border-blue-200 h-full w-12 flex justify-center items-center text-blue-200">
    <%# <div class="font-bold text-gray-500">?</div> %>
    <%= render(PlanningPokerWeb.IconView, "icon_hidden.html") %>
</div>
