<div class="rounded shadow flex flex-col flex-shrink-0 w-24 h-36 border-gray-100 border-solid border bg-white
            transition transform hover:-translate-y-4 mt-2 mb-2" phx-click="vote" phx-value-ref="<%= @value_atom %>">
    <div class="flex flex-1 justify-center items-center">
    <%= content_tag(:span, @value, class: Enum.join(["font-medium", "text-7xl", "tracking-tight", @color], " ")) %>
    </div>
</div>
